GOOGLE_CLIENT_ID="639715249255-2ds89b3naicgmou97acjssm3rauhmkcd.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GEMINI_API_KEY="AIzaSyDummyKey_just_to_pass_validation"
REDIRECT_URI="http://localhost:8000/auth/callback"
FRONTEND_URL="http://localhost:3000"
MONGODB_URI="mongodb://localhost:27017"